body {
    background-color: rgb(232, 219, 202);
    color:rgb(58, 46, 135);
}

.piros {
    background-color: rgb(255, 105, 105);
    font-weight: bold;
}

.green {
    color: rgb(0, 128, 0);
    font-weight: bold;
}